langchain
streamlit==1.15.0
langchain_openai
langchain_huggingface
openai
dotenv
requests
Pillow
audio_recorder_streamlit
rapidfuzz
google-generativeai
langchain_community.retrievers
langchain.retrievers
langchain_community.document_loaders
