streamlit
python-dotenv
langchain
langchain_openai
langchain-community
requests
Pillow
pdfplumber
pdf2image
pytesseract
regex
faiss-cpu
audio_recorder_streamlit
sentence-transformers==2.2.2
huggingface_hub<0.26.0
